body {
  background-color: lightgrey;
  width: 800px;
  color: #333333;
}

p {
  margin: 0 auto;
  margin-left: inherit;
  font-family: "Gill Sans";
  line-height: 20pt;
  font-variant-ligatures: normal;
  font-size: 1rem;
  margin-top: 1em ;
  margin-bottom: 1em ;
}

h1 {
  font-family: "Gill Sans";
  font-size: 3rem;
}

h2 {
  font-family: "Gill Sans";
  font-size: 2rem;
}

h3 {
  font-family: "Gill Sans";
  font-size: 1rem;
}

nav {
  font-family: "Gill Sans";
}

.footerreferences {
  font-family: "Gill Sans";
}

q {
  font-family: "Gill Sans";
  font-style: italic;
  line-height: 20pt;
  font-weight: 300;
}

em {
  font-family: "Gill Sans";
  font-weight: bold;
  font-style: normal;
}

.references {
  margin-top: 1em ;
  margin-bottom: 1em ;
}