
html {
  font-size: 125%;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: beige;
}

article {
  max-width: 800px;
}

p {
  font-size: 1em;
  line-height: 150%;
  line-height: 1.5em;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}


.extra p {
  margin: 0;
  color: red;
  text-indent: 10px;
}

.extra p:first-child {
  color: blue;
  text-indent: 0;

}

.extra p:nth-child(2) {
  color: pink;
  text-indent: 0;
}

.extra p:first-child:first-letter {
  padding: 0.5em;
  font-size: 2em;
  background-color: thistle;
   
}
