* {
  box-sizing: content-box;
}

body {
  margin: 0;

  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: #eeeeee;
}

h1 {
  font-size: 1.4em;
}

section {
  margin: 40px auto;
  font-size: 0.9em;
  width: 470px;
  height: 500px;
  background-color: #dddddd;
  padding: 50px 40px 70px 40px;
}

.box-top {
  float: left;
  background-color: yellow;
  width: 100px;
  height: 150px;
  margin: 0px 20px 20px 0px;
}

.box-bottom {
  float: right;
  background-color: yellow;
  width: 100px;
  height: 150px;
  margin: 0px 0px 20px 20px;
}